.InfoHeader {
  background-color: var(--blue-color);
  color: white;
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}

.info-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: clamp(1rem, 4vw, 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.875em;
  flex-wrap: wrap;
}

.info p {
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.info p::after {
  content: "|";
  margin-left: 0.875em;
  color: white;
  opacity: 0.2;
}

.info p:last-child::after {
  content: "";
  margin: 0;
}

.info a {
  text-decoration: none;
    color: white;
}

.social-info {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.75em;
  padding: 0 2em;
}

.social-info a {
  color: white;
}

@media (max-width: 860px) {
  .info-container {
    flex-direction: column;
    gap: 0.75em;
    text-align: center;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .social-info {
    justify-content: center;
    padding: 0.5em 1em;
  }
  .info p:not(:last-child)::after {
    content: "|";
    margin-left: 0.875em;
    opacity: 0.2;
  }
}
