.btn{
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.btn:hover{
    opacity: 0.9;
}

.btn-children{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

.btn-primary{
    background-color: var(--primary-color);
    color:white;
}

.btn-secondary{
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-blue{
    background-color: var(--blue-color);
    color: white;
}

.btn-xs{
    width: 45px;
    height: 45px;
    padding: 0;
}

.btn-sm{
    font-size: 0.3rem;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em 2.5em;
}

.btn-lg{
    font-size: 1.2rem;
    gap: 0.5em;
}

.btn-rounded-md{
    border-radius: 50px;
    justify-content: center;
}

.btn-rounded-full{
    border-radius: 50%;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
}

.rounded{
    border-radius: 50%;
    padding: 20px;
}

.rounded-primary{
    background-color: var(--accent-purple);
}

.rounded-secondary{
    background-color: var(--accent-yellow);
}

.rounded-blue{
    background-color: var(--accent-blue);
}