.Why {
  display: flex;
  align-items: center;
  gap: clamp(2rem, 6vw, 4rem);
  max-width: 1300px;
  margin-inline: auto;
  margin-block: clamp(6rem, 15vw, 15rem);
  padding: clamp(1rem, 4vw, 2rem);
  flex-wrap: wrap;
}

.Why--info {
  display: flex;
  flex-direction: column;
  padding-block: clamp(2rem, 6vw, 5.5rem);
  max-width: 600px;
  width: 100%;
}

.why--info-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Why--info h2 {
  position: relative;
  max-width: 32ch;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.2;
}

.why-highlight {
  position: absolute;
  top: 40%;
  right: 30%;
}

.Why--info .text{
    color: var(--gray);
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.why--cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(240px, 1fr)
  );
  gap: 1rem;
  width: 100%;
}

.why--card{
    background-color: var(--light-purple);
    color: var(--text-color);
    padding: 0.75em;
    border-radius: 8px;
}

.why--card-header{
    display: flex;
    align-items: center;
    gap: 0.875em;
}

.why--card-content{
    color: var(--gray);
    line-height: 1.5;
}

.Why--image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 900px) {
  .Why {
    flex-direction: column;
  }

    .Why--image {
    order: -1;
  }
}

@media (max-width: 768px) {
  .why-highlight {
    display: none;
  }
}

@media (max-width: 480px) {
  .Why {
    font-size: 1.1rem;
  }
}