.about {
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 1300px;
  margin: auto;
  padding: 2rem 1.5rem;
  margin-bottom: 5em;
}

.about--info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.about--info h2 {
  position: relative;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.3;
  max-width: 520px;
}

.about-highlight {
  position: absolute;
  bottom: -15%;
  right: 10%;
  z-index: -1;
}


.about--info p {
  max-width: 600px;
  font-size: clamp(1rem, 2.2vw, 1.25rem);
  line-height: 1.6;
}


.about--extra {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.about--extra div {
  flex: 1;
}

.btn-container{
    width: fit-content;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    max-width: 90%;
  }

  .about--info {
    align-items: center;
  }

  .about--info h2,
  .about--info p {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .about--extra {
    flex-direction: column;
  }
}