.Courses{
    padding: clamp(1rem, 4vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1220px;
    margin: auto;
    margin-block: clamp(4rem, 10vw, 8rem);
}

.Courses--intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.Courses--intro h2{
    font-size: clamp(2rem, 4vw, 2.5rem);
    max-width: 500px;
    line-height: 1.5em;
    position: relative;
}
.highlight{
      top: -5%;
  right: 28%;
}

.Courses--cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  gap: clamp(1rem, 3vw, 2rem);
  margin-top: 2rem;
}


.Courses--card {
  border: 1px dashed var(--primary-color);
  border-radius: 8px;
  padding: clamp(1rem, 3vw, 1.5rem);
  position: relative;
  overflow: hidden;
}

.Courses--card-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.price{
    font-size: 1em;
    margin-top: 5px;
    color: var(--primary-color)
}

.Courses--card-title{
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.Courses--card-bg {
  position: absolute;
  bottom: -6%;
  right: 15%;
  max-width: 250px;
}

.Courses--card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  background-color: #fff;
  width: 100%;
  border: 1px solid #fee;
  margin-block: 1.5em;
  border-radius: 6px;
  padding: 0.75em 1em;
}

.lesson, .user, .student{
    display: flex;
    align-items: center;
    gap: 5px;
}

.Courses--card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.user-details{
    display: flex;
    align-items: center;
    gap: 0.75em;
}

@media (max-width: 768px) {
  .Courses--intro {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 480px) {
  .Courses--card-bg {
    display: none;
  }

   .Courses--card-content, .Courses--card-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}