.NavHeader {
    background-color: #fff;
    position: relative;
}

.NavHeader__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 2em;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.nav-links li {
    cursor: pointer;
    color: var(--text-color);
    padding: 0.25rem 0.875rem;
    border: 1px solid transparent;
    border-radius: 1.5em;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.nav-links li:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.logo {
    height: 3.2em;
    width: auto;
}

@media (max-width: 900px) {
    .mobile-menu-icon {
        display: block;
    }

    .nav-content {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        padding: 2em;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 50;
    }

    .nav-content.open {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}