.NavHeader {
    background-color: #fff;
}

.NavHeader__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.nav-links li {
    cursor: pointer;
    color: var(--text-color);
    padding: 0.25rem 0.875rem;
    border: 1px solid transparent;
    border-radius: 1.5em;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.nav-links li:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.logo {
    height: 3.2em;
    width: auto;
}