.StatsBar {
  display: flex;
  justify-content: center;
  margin-bottom: 6em;
  padding-inline: 1rem;
}

.StatsBar__container {
  background-color: var(--secondary-color);
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: clamp(1.5rem, 4vw, 3rem);
  padding: clamp(1rem, 2.5vw, 2rem) clamp(1.5rem, 4vw, 3rem);
  max-width: 1100px;
  width: 100%;
  justify-content: center;
}

.StatsBar__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.StatsBar__icon {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;

  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.StatsBar__icon svg {
  width: 22px;
  height: 22px;
}

/* Text */
.StatsBar__text {
  display: flex;
  flex-direction: column;
}

.StatsBar__value {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0f172a;
}

.StatsBar__label {
  font-size: 0.85rem;
  color: #334155;
}
