@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

:root{
    --primary-color: #704FE6;
    --secondary-color: #FFD25D;
    --accent-purple: #785DD7;
    --accent-yellow: #FEB65C;
    --blue-color: #17254E;
    --accent-blue: #1F3061;
    --text-color: #0E2A46;
}
