@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


:root{
    --primary-color: #704FE6;
    --secondary-color: #FFD25D;
    --accent-purple: #785DD7;
    --accent-yellow: #FEB65C;
    --light-purple: #E9E2FF;
    --blue-color: #17254E;
    --accent-blue: #1F3061;
    --text-color: #0E2A46;
    --slight-white: #fbf9ff;
}

body {
    font-family: "Sora", sans-serif;
    background-color: #FFFFFF;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.highlight {
  position: absolute;
  width: 4em;
}